<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="wrapper">
    <!--标题-->
    <header>
        <section id="title">

        </section>
        <nav>

        </nav>
        <form action="">

        </form>
    </header>
    <!--中间博客内容-->
    <section id="feature_area">
        <article id="blog_leadoff">

        </article>
        <aside>
            <form action=""></form>
            <nav></nav>
        </aside>
    </section>
    <!--商品推销内容-->
    <section id="promo_area">
        <article>
            <div class="inner">



            </div>
        </article>
    </section>
</div>
</body>
</html>