<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <title>Olay水乳套餐</title>
    <link rel="stylesheet" href="/static/olay_activity/css/olay_base.css">
    <script src="/static/olay_activity/js/jquery-1.11.0.min.js" type="text/javascript"></script>
    <script>
        var ele = document.getElementsByTagName("html")[0],
            size = ele.offsetWidth / 640 * 40;
        ele.style.fontSize = size + "px"

    </script>

<body >activity_olay1.html
index.html
Olay_index.html
<!--上侧信息栏-->
<div class="olay2_header">
    <a href="index.html"><img src="/static/olay_activity/images/home.png" alt="" style="position:absolute; width:5%; right:2%; top:1%;"></a>
    <img class="logo" src="/static/olay_activity/images/olay_brand_logo%20(1).png" alt="" style="width:5%;">
    <div class="olay2_ul">
        <ul>
            <li class="olay2_a olay2_li_1 olay2_li_on">洁面乳</li>
            <li class="olay2_a olay2_li_2">精华液</li>
            <li class="olay2_a olay2_li_3">乳液</li>
            <li class="olay2_a olay2_li_4">睡眠面膜</li>
            <li class="olay2_a olay2_li_5">防晒霜</li>
        </ul>
    </div>
</div>
<div class="olay2_content_all">
    <!--下侧内容-->
    <div class="olay2_content">
        <!--左侧-->
        <div class="olay2_content_left">
            <img src="/static/olay_activity/images/cellscience_gushiye_36.png" alt="" style="height: 90%;">
        </div>
        <!--右侧-->
        <div class="olay2_content_right">
            <p style="font-size:0.25rem;">"随着年龄的增长细纹也渐长了，这产品的功效刚好适合<br>熟龄肌肤”</p>
            <p  style="font-size:0.15rem;">——买提莎，2016年8月</p>
            <div>
                <img src="/static/olay_activity/images/DT_BE_Topic_ProX_Promo11_Slice4.png" alt="" style="width: 50%;">
            </div>
            <p  style="font-size:0.25rem;">小脸2部曲奇迹胜肽量加乘提升</p>
            <p  style="font-size:0.12rem;">精华+面霜同时使用，符合高含量奇迹胜肽B3科技TM提升肌肤滋润度</p>
            <div class="olay2_buy" align="center"> <p style="font-size:0.25rem; color: white;">购买</p></div>
        </div>
    </div>
    <!--活动2-->
    <div class="olay2_same_activity olay2_content1 hide" style="display: none">
        <!--左侧-->
        <div class="olay2_content_left" style="position:absolute; right: 5%;">
            <img src="/static/olay_activity/images/cellscience_gushiye_banner.png" alt="" style="height: 90%;">
        </div>
        <!--右侧-->
        <div class="olay2_content_right" style="position:absolute; left: 8%;">
            <p style="font-size:0.25rem;">"用后皮肤滋润又光泽，平滑肌肤，智睿，保湿，好用！”</p>
            <p  style="font-size:0.15rem;">——mikazm， 35岁 ，2016年7月</p>
            <div>
                <img src="/static/olay_activity/images/DT_BE_Topic_ProX_Promo11_Slice4.png" alt="" style="width: 50%;">
            </div>
            <p  style="font-size:0.25rem;">捍卫年轻肌肤防御系统三道防线</p>
            <p  style="font-size:0.12rem;">10x胜肽修护成分，嫩肤水打开肌肤吸收通道帮助精华吸收面霜紧锁年轻活能</p>
            <div class="olay2_buy" align="center"> <p style="font-size:0.25rem; color: white;">购买</p></div>
        </div>
    </div>
    <!--活动3-->
    <div class="olay2_same_activity olay2_content2 hide" style="display: none">
        <!--左侧-->
        <div class="olay2_content_left" align="center">
            <img src="/static/olay_activity/images/cellscience_gushiye_03.png" alt="" style="height: 90%; width: 86%;">
        </div>
        <!--右侧-->
        <div class="olay2_content_right">
            <p style="font-size:0.25rem;">"有效提升细胞修复里，促进胶原蛋白，淡化岁月问题<br>盈润有光泽”</p>
            <p  style="font-size:0.15rem;">肌肤紧致</p>
            <div>
                <img src="/static/olay_activity/images/DT_BE_Topic_ProX_Promo11_Slice4.png" alt="" style="width: 50%;">
            </div>
            <p  style="font-size:0.25rem;">透出水润关泽</p>
            <p  style="font-size:0.12rem;">解决诸多衰老问题</p>
            <div class="olay2_buy" align="center"> <p style="font-size:0.25rem; color: white;">购买</p></div>
        </div>
    </div>
    <!--活动4-->
    <div class="olay2_same_activity olay2_content3 hide" style="display: none">
        <!--左侧-->
        <div class="olay2_content_left" style="position:absolute; right: 5%;">
            <img src="/static/olay_activity/images/cellscience_gushiye_1416.jpg" alt="" style="height: 90%;">
        </div>
        <!--右侧-->
        <div class="olay2_content_right" style="position:absolute; left: 8%;">
            <p style="font-size:0.25rem;">"Olay修复精髓，瑞士精工，高纯度B3修护成分，同时抗老，美白功效<br>永葆湿润”</p>
            <p  style="font-size:0.15rem;">——2胜肽/3胜肽/4胜肽/5胜肽组合，</p>
            <div>
                <img src="/static/olay_activity/images/DT_BE_Topic_ProX_Promo11_Slice4.png" alt="" style="width: 50%;">
            </div>
            <p  style="font-size:0.25rem;">细胞修复B3修护因子</p>
            <p  style="font-size:0.12rem;">Olay独有的胜肽，灵感来源于缘故海洋生命起源神奇力量。</p>
            <div class="olay2_buy" align="center"> <p style="font-size:0.25rem; color: white;">购买</p></div>
        </div>
    </div>
    <!--活动5-->
    <div class="olay2_same_activity olay2_content4 hide"  style="display: none">
        <!--左侧-->
        <div class="olay2_content_left" align="center">
            <img src="/static/olay_activity/images/cellscience_gushiye_56.png" alt="" style="width: 80%; height: 70%;">
        </div>
        <!--右侧-->
        <div class="olay2_content_right">
            <p style="font-size:0.25rem;">"帮助促进胶原蛋白生成有效淡化皱纹，改善细纹，肌肤焕发源源活力”</p>
            <p  style="font-size:0.15rem;">表层盈润，肌肤立体饱满</p>
            <div>
                <img src="/static/olay_activity/images/DT_BE_Topic_ProX_Promo11_Slice4.png" alt="" style="width: 50%;">
            </div>
            <p  style="font-size:0.25rem;">奢华香氛，勾勒女性之美</p>
            <p  style="font-size:0.12rem;">清新佛手柑与紫罗兰也明媚澄澈</p>
            <div class="olay2_buy" align="center"> <p style="font-size:0.25rem; color: white;">购买</p></div>
        </div>
    </div>
</div>

</body>
<script>
    $(document).ready(function () {
        $('.olay2_a').click(function () {
            $(this).addClass('olay2_li_on').siblings().removeClass('olay2_li_on');
//            $('.olay2_content2').slideUp("slow");
        });

        $(".olay2_li_2").click(function () {
            $(".olay2_content").slideUp("slow");
            $(".olay2_content1").show().siblings().hide();
        });

        $(".olay2_li_3").click(function () {
            $(".olay2_content").slideUp("slow");
            $(".olay2_content2").show().siblings().hide();
        });

        $(".olay2_li_4").click(function () {
            $(".olay2_content").slideUp("slow");
            $(".olay2_content3").show().siblings().hide();
        });
        $(".olay2_li_5").click(function () {
            $(".olay2_content").slideUp("slow");
            $(".olay2_content4").show().siblings().hide();
        });
        $(".olay2_li_1").click(function () {
//            $(".olay2_content").slideUp("slow");
            $(".olay2_content").show().siblings().hide();
        });

        $(".olay2_buy").click(function () {
            alert("商品还未开始抢购哦！")
        })
    })
</script>
</html>