<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <title>Olay水乳套餐</title>
    <link rel="stylesheet" href="/static/olay_activity/css/olay_base.css">
    <script>
		var ele = document.getElementsByTagName("html")[0],
				size = ele.offsetWidth / 640 * 40;
		ele.style.fontSize = size + "px"
	</script>
<body>
<!--左侧信息栏-->
<div class="left">
    <img src="/static/olay_activity/images/section_layout_bg.jpg" alt="" style="height:100%; width:120%;">
</div>
<!--右侧信息栏-->
<div class="right">
    <div class="product_package">
        <p>商品推销一</p>
        <img src="/static/olay_activity/images/promo-2-regenerist-2x.jpg" alt="">
    </div>
    <div class="product_package">
         <p>商品推销二</p>
        <img src="/static/olay_activity/images/promo-3-regenerist-luminous-2x.jpg" alt="">
    </div>
    <div class="product_package">
         <p>商品推销三</p>
        <img src="/static/olay_activity/images/promo-4-total-effects-2x.jpg" alt="">
    </div>
</div>

</body>
</html>