@charset "utf-8";

* ul,ul{margin: 0; padding: 0; list-style: none;}
* img,img{width: 100%; height: auto; border: none; display: block;}
* a, a, button{text-decoration:none;border: none;-webkit-tap-highlight-color: transparent; outline: none;}
a:-webkit-any-link{
    color:transparent;
}
*{
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
    width: 100%;
    overflow:hidden;
}
body{
    height: 100%;
    width: 100%;
}

/*标题*/
.header_div{
    position: relative;
    height: 90%;
    width:100%;
    background-color: #000000;
}

.header_div img{
    position: relative;
    top:-10%;
}
.nav_ul{
    position: absolute;
    top:11%;
    margin-left: 20%;
    width: 70%;
}

.nav_ul li{
    float: left;
    margin-left:8%;
}
.nav_ul a{
    color:white;
    font-size: 0.3rem;
}

.nav_ul a:hover {
    color:cornflowerblue;
    /*box-shadow: inset 1px 1px  white;*/
}

/*内容*/
.content{
    position: relative;
    height: 80%;
    background:url(../images/whips-header-1280-home-nocta.jpg) center;
	background-size: 100% 100%;
}

.rings_div{
    position: absolute;
    width: 25%;
    right: 0;
    bottom: 2%;
    /*border:solid 1px white;*/
}

.detail{
   font-size: 0.2rem;
    color:white;
    font-weight: 700;
}

/*Olay水乳套餐*/
.left{
    width:38%;
    height:100%;
    /*border:solid 1px red;*/
}

.right{
    position: relative;
    width:70%;
    height:100%;
    float: right;
    top:-100%;
    /*border:solid 1px red;*/
}



.product_package{
    position:relative;
    top:26%;
    display: inline-block;
    /*border:solid 1px red;*/
    width: 30%;
    height:60%;

}

.product_package p{
    font-size: 0.25rem;
    text-align: center;
    position: relative;
    top:25%;
}

.product_package img{
    width: 50%;
    border-radius: 70%;
    position: relative;
    top:35%;
}

/*Olay主场*/
.logo{
    position: absolute;
    width:5%;
    top:-3%;
    left:15%;
}

.header_index{
    position:relative;
    width:100%;
    padding-top:3%;
    background-color: black;
    /*height:20%;*/

}

.content_index{
    position:relative;
    margin-top: 1%;
    width: 100%;
    height: 69%;
    /*border:solid 1px red;*/
    background-size: 100%;
}

.content_col1{
    /*border:solid 1px red;*/
    position: absolute;
    left:2%;
    width:47%;
    bottom:8%;
}

.content_col2{
    /*border:solid 1px red;*/
    position: absolute;
    right: 2%;
    width:47%;
    bottom:8%;
}

.olay_video{
    width:95%;
}

/*圣诞活动*/
.olay2_header{
    height:20%;
    width: 100%;
    background-color: black;
    position: relative;
}

.olay2_ul{
    position: absolute;
    width: 80%;
    bottom:1%;
    left:15%;
}

.olay2_ul ul{
    padding:10px;
    font-size:0;
}

.olay2_ul ul li{
    display: inline-block;
    margin-left:5%;
    font-size: 0.4rem;
    color:white;
    align-items: center;
    padding:2px 8px;
    cursor: pointer;
}

.olay2_li_on {
    position: relative;
    background: #c3c8cd;
    border-radius: 10%;
    bottom:3px;
}

.olay2_content_all{
    width: 100%;
    height: 80%;

}

/*第一个活动布局*/
.olay2_content{
    position: relative;
    height: 100%;
    width: 100%;
    /*background-color: black;*/
    /*border:solid 1px red;*/
    /*margin-top:1%;*/
}

/*相同的活动页面的布局*/
.olay2_same_activity{
    position: absolute;
    height: 80%;
    width: 100%;
    top:20%;
    /*border:solid 1px red;*/
}

.olay2_content_left{
    position: relative;
    /*border:solid 1px red;*/
    top:19%;
    width:30%;
    height: 81%;
}

.olay2_content_right{
    /*border:solid 1px red;*/
    width:68%;
    position: absolute;
    right:0;
    top:30%;
    height:70%;
}

.olay2_content_right p{
    line-height: 0.4rem;
}

.olay2_buy{
    position: absolute;
    width:10%;
    background: black;
    border-radius: 15%;
    /*margin-top: 2%;*/
    margin-left: 5%;
    bottom:9%;
    cursor: pointer;
}


